@page "/"

<PageTitle>Startsidan</PageTitle>

<h1>Moment 1.2</h1>

<p>En sida skapat med Blazor WebAssembly.<br />
    Webbplatsen har skapats med egen HTML och CSS samt programmering i C#.</p>


