@inherits LayoutComponentBase
  <header>
    
            <div class="item1">
                <div class="div1">
                    <img id="img_logo" alt="Logo" src="Images/logotype.png" width="150" />
                </div>
                                <div class="div2">
            <Component />
                </div>

                </div>
    </header>

        <div class="row">
            <div class="leftcolumn">
                <div class="card">
                <NavMenu />
               
        </div>
    </div>
  
            <div class="rightcolumn">
                <div class="card">
                   @Body
                </div>
                </div>
                
                  </div>
        <div class="footer">
        <p> Av Sara Girke - Kontakta mig via e-post <a href="mailto:sagi1700@student.miun.se">sagi1700@student.miun.se</a></p>
        </div>

          
      