<nav>
    <ul class="fakeimg2">
        <li class="fakeimg"><NavLink href="/" Match="NavLinkMatch.All">Hem</NavLink></li>
        <li class="fakeimg"><NavLink href="convert" Match="NavLinkMatch.All">Konvertering</NavLink></li>
        <li class="fakeimg"><NavLink href="json" Match="NavLinkMatch.All">JSON</NavLink></li>
    </ul>
</nav>